:root {
  --color-text-primary: #000;
  --color-text-secondary: #636262;
  --color-img-primary: #c4c4c4;
  --color-img-secondary: #9d9d9d;
  --color-bg-primary: #ececec;
  --color-bg-secondary: #fff;

  --breakpoint-xxl: 1400px;
  --breakpoint-xl: 1200px;
  --breakpoint-md: 768px;
}

/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: all ease 0.5s;
}
a:hover {
  color: var(--color-text-secondary);
}

/* general classes */
.container {
  width: 100%;
  height: 100%;
  max-width: var(--breakpoint-xxl);
  margin: 0 auto;
}
.btn {
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease 0.5s;
}
.btn-primary {
  background-color: var(--color-text-primary);
  color: var(--color-bg-secondary);
}
.btn-primary:hover {
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
.btn-secondary {
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
.btn-secondary:hover {
  background-color: var(--color-text-primary);
  color: var(--color-bg-secondary);
}
.display-1 {
  font-size: 4rem;
}
.display-2 {
  font-size: 3rem;
}
.lead {
  color: var(--color-text-secondary);
}

/* sections */
header#site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.menu-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: var(--color-bg-secondary);
}

nav#menu {
  display: flex;
  width: 100%;
  max-width: var(--breakpoint-xxl);
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

#logo {
  font-weight: bold;
  font-size: 1.8rem;
}
nav#menu ul {
  display: flex;
  gap: 2.5rem;
}
nav#menu ul li {
  list-style: none;
  padding: 0.5rem;
}
.toggle-btn {
  cursor: pointer;
}
.menu-links,
.menu-call-to-action {
  display: none;
}
.responsive-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-bg-secondary);
  display: grid;
  place-content: center;
}
.responsive-menu div,
.responsive-menu div .links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.responsive-menu .close-btn {
  cursor: pointer;
  font-size: 2rem;
}
/* hero section */
#site-header .hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
#site-header .hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
#site-header .hero div img {
  max-width: 80%;
  margin-left: 10%;
}
#site-header h1,
#site-header p {
  text-align: center;
}

#site-header .hero div .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  width: 100%;
  gap: 0.5rem;
}
#site-header .hero div:nth-child(1) {
  order: 2;
}
#site-header .hero div:nth-child(2) {
  order: 1;
}

/* featured section */
#featured {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#featured img {
  max-width: 100%;
  max-height: 100%;
}
#featured .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#featured .container div:nth-child(3) {
  display: flex;
  flex-direction: column;
  place-content: flex-end;
}
#featured .container div h2 {
  margin-bottom: 1.5rem;
}

/* footer */
#footer {
  margin-top: 15rem;
  background-color: var(--color-bg-primary);
}
#footer img {
  margin-top: -100px;
  max-width: 400px;
  max-height: 100%;
}
#footer .container {
  /* display: grid;
  grid-template-columns: 3fr 4fr; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
#footer .container div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0;
}
#footer .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* products-section*/
#products-section {
  min-height: 100vh;
  padding-top: 200px;
}
#products-section .search-bar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  margin: 3rem 0rem;
}
#products-section input {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  height: auto;
}
#products-section input::placeholder {
  color: var(--color-text-secondary);
}
#products-section .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.table {
  overflow-x: auto;
}
.table .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 768px;
}
.table .row div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: solid 1px var(--color-text-primary);
  padding: 1rem;
}
.table .row div:nth-child(2) {
  border-left: none;
  border-right: none;
}
.table .field-titles {
  background-color: var(--color-bg-primary);
}
.table .field-titles div {
  border-bottom: none;
}
.table .product div {
  border-top: none;
  color: var(--color-text-secondary);
}

aside.form .form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: var(--color-bg-primary);
  align-items: center;
  gap: 2rem;
}
aside.form .form-wrapper .lead {
  margin-bottom: 2rem;
}
aside.form .form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
aside.form .form-wrapper form input {
  border: none;
  padding: 5rem;
}
/*pop up*/

#pop-up-wrapper {
  position: fixed;
  top: 0;
  left: 0px;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-secondary);
  /* background-color: red; */
}
#pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  background-color: var(--color-bg-primary);
}
#pop-up input {
  border: none;
  padding: 1rem;
}

/* media queries*/
@media (min-width: 768px) {
  header#site-header {
    height: 100vh;
  }
  .toggle-btn {
    display: none;
  }
  .menu-links,
  .menu-call-to-action {
    display: block;
  }
  #site-header .hero {
    flex-direction: row;
    padding-top: 0px;
  }
  #site-header .hero div {
    width: 50%;
  }
  #site-header .hero div:nth-child(1) {
    padding-right: 10rem;
    order: 1;
  }
  #site-header .hero div:nth-child(2) {
    order: 2;
  }
  #site-header .hero div img {
    max-width: 800px;
  }
  #site-header h1,
  #site-header p {
    text-align: left;
  }
  #site-header .hero div .btns {
    justify-content: flex-start;
  }
  #featured .container {
    display: grid;
    gap: 2rem;
    padding: 3rem 1rem;
    grid-template-columns: 2fr 3fr 2fr;
    max-height: 500px;
  }
  #footer .container {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
  #footer img {
    max-width: 100%;
  }
  #footer .btns {
    flex-direction: row;
  }
  #products-section .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #products-section .search-bar {
    flex-direction: row;
  }
}
